<!DOCTYPE html>
<html>
<head>
  <title>Motosocial</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header row" style="margin-top:10px">
    <ul class="nav nav-pills col-md-10 col-md-offset-1 clearfix">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Профиль</a></li>
      <li><a href="#">Сообщения</a></li>
      <li class="pull-right"><a href="#" data-toggle="modal" data-target="#modal__signin">Войти</a></li>
    </ul>
  </div>
<%= yield %>

</body>
</html>
